.SignUpForm{
    padding: 20px 20px;
    max-width: 20%;
    margin-left: 560px;
    margin-top: 100px;
}

.SignUpForm input{
    height: 30px;
    width: 200px;
    font-family: Libre Franklin;
    font-size: 20px;
}

.SignupSubmit{
    cursor: pointer;
    color: white;
    background-color:  #69841F;
}

.SignUpForm h2,h4{
    color: #F0681E;
}

.SignUpForm h4 a:hover{
    color:  #69841F;
    cursor: pointer;
}