button{
    cursor: pointer;
    color: white;
    background-color:  #69841F;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.TContents td{
    color: #2E5069;
    font-weight: italic;
    font-Size:"20px"
}

.Profile h3{
    font-family: Libre Franklin;
    color: #F0681E;
    font-size: 24px;
}

.Profile{
    padding: 20px;
    font-family: Libre Franklin;
    color: #2E5069;
    font-size: 24px;
}

.SinglePost{
    max-width: 50%;
    max-height: 10%;
}

.Posts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px;
}

.Works{
    display:grid;
    padding: 0 auto;
    grid-template-columns: 1fr 1fr;
    border: 20pt;
}

.Profile hr{
    max-width: 100%;
}