.App {
  background-color: #69841F;
  width: 100%;
  height: 92px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 30px;
  display: flex;
}

.Links{
  text-decoration: none;
  padding: 0 1.5rem;
  color: #FFFFFF;
  font-family: Libre Franklin;
  font-size: 28px;
}

.Spacer{
  flex: 0.95;
}

.Links:hover,
.Links:active{
  color:rgb(56, 31, 170);
}

